{% extends 'base/base.html' %}
{% load static %}
{% block title %}Проект № {{ project.id }}{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Редактирование проекта</h1>
</div>

<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#participant">Участники</button>
        </li>
        <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#work">Работы</button>
        </li>
        <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#project">Информация о проекте</button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="participant">
            <div class="p-3 bg-body rounded shadow-sm">
                <div class="small mb-3">
                    Люди, участвующие в данноме проекте:
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Застройщик</span>
                    </div>
                    {% if project.builder %}
                        {% if project.builder.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.builder.id %}">
                                    {{project.builder.surname}} {{project.builder.name}} {{project.builder.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.builder.id %}">
                                    {{project.builder.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'builder' %}">Добавить участника</a>
                        </div>
                    {%endif%}

                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Лицо, осуществляющее строительство</span>
                    </div>
                    {% if project.person_the_construction %}
                        {% if project.person_the_construction.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.person_the_construction.id %}">
                                    {{project.person_the_construction.surname}} {{project.person_the_construction.name}} {{project.person_the_construction.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.person_the_construction.id %}">
                                    {{project.person_the_construction.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'person_the_construction' %}">Добавить участника</a>
                        </div>
                    {%endif%}
                </div>


                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Лицо, осуществляющее подготовку проектной документации</span>
                    </div>
                    {% if project.person_prepares_doc %}
                        {% if project.person_prepares_doc.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.person_prepares_doc.id %}">
                                    {{project.person_prepares_doc.surname}} {{project.person_prepares_doc.name}} {{project.person_prepares_doc.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.person_prepares_doc.id %}">
                                    {{project.person_prepares_doc.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'person_prepares_doc' %}">Добавить участника</a>
                        </div>
                    {%endif%}
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Представитель застройщика</span>
                    </div>
                    {% if project.representative_builder %}
                        {% if project.representative_builder.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_builder.id %}">
                                    {{project.representative_builder.surname}} {{project.representative_builder.name}} {{project.representative_builder.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_builder.id %}">
                                    {{project.representative_builder.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'representative_builder' %}">Добавить участника</a>
                        </div>
                    {%endif%}
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Представитель лица, осуществляющего строительство</span>
                    </div>
                    {% if project.representative_person_the_construction %}
                        {% if project.representative_person_the_construction.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_person_the_construction.id %}">
                                    {{project.representative_person_the_construction.surname}} {{project.representative_person_the_construction.name}} {{project.representative_person_the_construction.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_person_the_construction.id %}">
                                    {{project.representative_person_the_construction.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'representative_person_the_construction' %}">Добавить участника</a>
                        </div>
                    {%endif%}
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Представитель лица, осуществляющего строительство, по вопросам
                            строительного контроля</span>
                    </div>
                    {% if project.specialist_organization_construction %}
                        {% if project.specialist_organization_construction.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.specialist_organization_construction.id %}">
                                    {{project.specialist_organization_construction.surname}} {{project.specialist_organization_construction.name}} {{project.specialist_organization_construction.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.specialist_organization_construction.id %}">
                                    {{project.specialist_organization_construction.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'specialist_organization_construction' %}">Добавить участника</a>
                        </div>
                    {%endif%}
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Представитель лица, осуществляющего подготовку
                            проектной документации</span>
                    </div>
                    {% if project.representative_person_preparing_project_doc %}
                        {% if project.representative_person_preparing_project_doc.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_person_preparing_project_doc.id %}">
                                    {{project.representative_person_preparing_project_doc.surname}} {{project.representative_person_preparing_project_doc.name}} {{project.representative_person_preparing_project_doc.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_person_preparing_project_doc.id %}">
                                    {{project.representative_person_preparing_project_doc.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'representative_person_preparing_project_doc' %}">Добавить участника</a>
                        </div>
                    {%endif%}
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Представитель лица, выполнившего работы, подлежащие
                            освидетельствованию</span>
                    </div>
                    {% if project.representative_person_performed_examined %}
                        {% if project.representative_person_performed_examined.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_person_performed_examined.id %}">
                                    {{project.representative_person_performed_examined.surname}} {{project.representative_person_performed_examined.name}} {{project.representative_person_performed_examined.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.representative_person_performed_examined.id %}">
                                    {{project.representative_person_performed_examined.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'representative_person_performed_examined' %}">Добавить участника</a>
                        </div>
                    {%endif%}
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Иные представители лиц, участвующих
                        в освидетельствовании</span>
                    </div>
                    {% if project.other_persons_participated_examination %}
                        {% if project.other_persons_participated_examination.SubjectType == 'ФЛ' %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.other_persons_participated_examination.id %}">
                                    {{project.other_persons_participated_examination.surname}} {{project.other_persons_participated_examination.name}} {{project.other_persons_participated_examination.patronymic}}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                <a href="{% url 'participant-view' project.other_persons_participated_examination.id %}">
                                    {{project.other_persons_participated_examination.legal_name}}
                                </a>
                            </div>
                        {% endif %}
                    {%else%}
                    <div class="col-12 col-md-6">
                        <a class="btn btn-outline-primary btn-sm" href="{%url 'participant-create' project.id 'other_persons_participated_examination' %}">Добавить участника</a>
                    </div>
                    {%endif%}
                </div>

            </div>
        </div>

        <div class="tab-pane" id="work">
            <div class="row p-3 bg-body rounded shadow-sm">
                <div class="small col-8">
                    Работы, выполняемые на проекте.
                </div>
                <div class="col-4">
                    <a style = "float: right;" class="btn btn-outline-primary btn-sm" href="{%url 'work-create' project.id %}">Добавить работу</a>
                </div>
                {% for work in works%}
                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <span class="col-form-label p-0">Название работы</span>
                    </div>

                    <div class="col-12 col-md-6">
                        <a href="{% url 'work-view' work.id %}">
                            {{work.name_hidden_works}}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane" id="project">
            <div class="p-3 bg-body rounded shadow-sm">
                <div class="small">
                    Остальная информация о проекте.
                </div>
                <form action="{% url 'project-edit' project.id %}" method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        <div class="row mb-4 align-items-center">
                            <div class="col-12 col-md-3">
                                <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                            </div>
                            <div class="col-12 col-md-6">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary my-2">Сохранить</button>
                </form>
            </div>
        </div>

    </div>

</div>
{% endblock %}