{% extends 'base/base.html' %}
{% load static %}
{% block title %}Проект №{{ project.id }}{% endblock %}

{% block navbar %}
    <a class="navbar-link" href="{% url 'project-index' %}"><i class="bi bi-arrow-left"></i>К проектам</a>
{% endblock %}

{% block pageName %} {{ project.name_project }} {% endblock %}

{% block content %}
    <!-- Nav tabs -->
    <ul class="sidenav nav-tabs" id="myTab" role="tablist">
        <li>
            <a class="sidenav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">
                <i class="bi bi-house"></i>Паспорт проекта
            </a>
        </li>
        <li>
            <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">
                <i class="bi bi-people"></i>Участники</a>
        </li>
        <li>
            <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">
                <i class="bi bi-file-earmark"></i>Документация</a>
        </li>
        <li>
            <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">
                <i class="bi bi-wrench-adjustable"></i>ИТД<i class="bi bi-caret-down bi-caret-down-sidenav"></i></a>
        </li>
        <li>
            <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">
                Реестр ИД</a>
        </li>
        <li>
            <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">
                Раздел ОЖР</a>
        </li>
        <li>
            <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">
                Материалы</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="content">
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p style="color: rgba(0, 0, 0, 0.54);">Паспорт проекта</p>
                <div class="information">
                    {% for name, value in project.get_attributes.items %}
                        <div class="row p-2">
                            <div class="col-12 col-md-4 label">
                                <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);">{{ name }}</span>
                            </div>
                            <div class="col-12 col-md-6">
                                {{ value }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
        </div>
    </div>
{% endblock %}