{% extends 'base/base.html' %}
{% load static %}
{% block title %}Проект №{{ project.id }}{% endblock %}

{% block navbar %}
<a class="navbar-link" href="{% url 'project-index' %}"><i class="bi bi-arrow-left"></i>К проектам</a>
{% endblock %}

{% block pageName %} {{ project.name_project }} {% endblock %}

{% block styles %}
<style>
        details > summary {
          list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
<!-- Nav tabs -->
<ul class="sidenav nav-tabs" id="myTab" role="tablist">
    <li>
        <a class="sidenav-link sidenav-link-active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
           role="tab" aria-controls="profile" aria-selected="true" onclick="ChangeTheState(this)">
            <i class="bi bi-house"></i>Паспорт проекта
        </a>
    </li>
    <li>
        <a class="sidenav-link" id="participants-tab" data-bs-toggle="tab" data-bs-target="#participants"
           type="button" role="tab" aria-controls="participants" aria-selected="false" onclick="ChangeTheState(this)">
            <i class="bi bi-people"></i>Участники</a>
    </li>
    <li>
        <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
           role="tab" aria-controls="profile" aria-selected="false" onclick="ChangeTheState(this)">
            <i class="bi bi-file-earmark"></i>Документация</a>
    </li>
    <li>
        <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
           role="tab" aria-controls="profile" aria-selected="false" onclick="ChangeTheState(this)">
            <i class="bi bi-wrench-adjustable"></i>ИТД<i class="bi bi-caret-down bi-caret-down-sidenav"></i></a>
    </li>
    <li>
        <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
           role="tab" aria-controls="profile" aria-selected="false" onclick="ChangeTheState(this)">
            Реестр ИД</a>
    </li>
    <li>
        <a class="sidenav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
           role="tab" aria-controls="profile" aria-selected="false" onclick="ChangeTheState(this)">
            Формирование объектов ИД</a>
    </li>
    <li>
        <a class="sidenav-link" id="works-tab" data-bs-toggle="tab" data-bs-target="#works" type="button"
           role="tab" aria-controls="works" aria-selected="false" onclick="ChangeTheState(this)">
            Работы</a>
    </li>
    <li>
        <a class="sidenav-link" id="materials-tab" data-bs-toggle="tab" data-bs-target="#materials" type="button"
           role="tab" aria-controls="materials" aria-selected="false" onclick="ChangeTheState(this)">
            Материалы</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="content">
    <div class="tab-content">
        <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-md-auto">
                    <p style="color: rgba(0, 0, 0, 0.54);">Паспорт проекта</p>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'project-edit' project.id %}">Редактировать</a>
                </div>
            </div>
            <div class="information">
                {% for name, value in project.get_attributes.items %}
                <div class="row p-2">
                    <div class="col-12 col-md-4 label">
                        <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);">{{ name }}</span>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ value }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="project-edit">

            </div>
        </div>

        <div class="tab-pane" id="participants" role="tabpanel" aria-labelledby="participants-tab">
            <p style="color: rgba(0, 0, 0, 0.54);">Участники проекта</p>
            <div class="information">
                {% for name, value in participants.items %}
                {% if value.0 != None %}
                <details id="details_{{value.0.id}}">
                    <summary>
                        {% endif %}
                        <div class="row p-2">
                            <div class="col-12 col-md-4 label">
                                <span class="col-form-label p-0" style="color: rgba(0, 0, 0, 0.54);" participant="{{ name }}">
                                    {{ value.1 }}
                                </span>
                            </div>

                            {% if value.0 == None %}
                            <div class="col-12 col-md-6">
                                <a class="add-new-participant">Добавить</a>
                            </div>
                            {% else %}
                            <div class="col-12 col-md-4">
                                {% if value.0.subject_type == 'ЮЛ' %}
                                    {% if value.0.legal_name != null %}
                                    {{ value.0.legal_name }}
                                    {% endif %}
                                {% elif value.0.subject_type == 'ФЛ' %}
                                    {{ value.0.surname }} {{ value.0.name }} {{ value.0.patronymic }}
                                {% elif value.0.subject_type == 'ИП' %}
                                    {% if value.0.short_name != null %}
                                    {{ value.0.short_name }}
                                    {% else %}
                                    {{ value.0.legal_name }}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-2">
                                <a class="btn btn-outline-primary btn-sm"
                                   href="{% url 'edit-participant' project.id value.0.id %}">
                                    Редактировать
                                </a>
                            </div>
                            {% endif %}
                            <div class="col-12 col-md-1" style="cursor: pointer;" onclick="OpenInformation({{value.0.id}})">
                                <i id="caret_{{value.0.id}}" class="bi bi-caret-down"></i>
                            </div>
                        </div>
                        {% if value.0 != None %}
                    </summary>
                    <div class="row p-2">
                        <div class="col-12 col-md-2 label">
                            <img src="#">
                        </div>
                        {% if value.0.subject_type == 'ЮЛ' %}
                        <div id="information_legal_{{value.0.id}}" class="col-12 col-md-5">
                            <div style="color: rgba(0, 0, 0, 0.54);">{{ value.0.legal_name }}</div>
                            <div style="color: rgba(0, 0, 0, 0.54);">Статус участника: {{ value.0.subject_type }}</div>
                            <div style="color: rgba(0, 0, 0, 0.54);">Юр. адрес: {{ value.0.address }}</div>
                            <div style="color: rgba(0, 0, 0, 0.54);">ИНН: {{value.0.inn}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">КПП: {{value.0.kpp}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">БИК: {{value.0.bic}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Р/С: {{value.0.payment_account}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">К/С: {{value.0.cor_account}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОКПО: {{value.0.okpo}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОКАТО: {{value.0.okato}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОКВЭД: {{value.0.okved}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОГРН: {{value.0.ogrn}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Ген. менеджер: {{value.0.general_manager}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Почта: {{value.0.mail}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Телефон: {{value.0.phone}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Сайт: {{value.0.site}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Наименование СРО: {{value.0.sro_name}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ИНН СРО: {{value.0.sro_inn}}</div>
                            <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОГРН СРО: {{value.0.sro_ogrn}}</div>
                            <button id="button_more_legal_{{value.0.id}}" type="button" style="display:inline-block" class="btn btn-link more" onclick='MoreInformation({{value.0.id}},"ЮЛ")'>Все сведения</button>
                            <button id="button_hide_legal_{{value.0.id}}" type="button" style="display:none" class="btn btn-link hide" onclick='HideInformation({{value.0.id}},"ЮЛ")'>Скрыть</button>
                        </div>
                        {% elif value.0.subject_type == 'ИП'%}
                            <div id="information_ip_{{value.0.id}}" class="col-12 col-md-5">
                                <div style="color: rgba(0, 0, 0, 0.54);">{{ value.0.legal_name }}</div>
                                <div style="color: rgba(0, 0, 0, 0.54);">Статус участника: {{ value.0.subject_type }}</div>
                                <div style="color: rgba(0, 0, 0, 0.54);">Краткое наименование: {{value.0.short_name}}</div>
                                <div style="color: rgba(0, 0, 0, 0.54);">Адресс регистрации: {{ value.0.address }}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Факт. адрес: {{value.0.post_address}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Почта: {{value.0.mail}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Телефон: {{value.0.phone}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ИНН: {{value.0.inn}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОГРНИП: {{value.0.ogrn}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Наименование банка: {{value.0.bank_name}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">БИК: {{value.0.bic}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">К/С: {{value.0.cor_account}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Р/С: {{value.0.payment_account}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОКВЭД: {{value.0.okved}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Ситсема налогооблажения: {{value.0.taxation_system}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Наименование СРО: {{value.0.sro_name}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ИНН СРО: {{value.0.sro_inn}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ОГРН СРО: {{value.0.sro_ogrn}}</div>

                                <button id="button_more_ip_{{value.0.id}}" type="button" style="display:inline-block" class="btn btn-link more" onclick='MoreInformation({{value.0.id}},"ИП")'>Все сведения</button>
                                <button id="button_hide_ip_{{value.0.id}}" type="button" style="display:none" class="btn btn-link hide" onclick='HideInformation({{value.0.id}},"ИП")'>Скрыть</button>
                            </div>
                        {% elif value.0.subject_type == 'ФЛ'%}
                            <div id="information_ind_{{value.0.id}}" class="col-12 col-md-5">
                                <div style="color: rgba(0, 0, 0, 0.54);">{{ value.0.surname }}</div>
                                <div style="color: rgba(0, 0, 0, 0.54);">Статус участника: {{ value.0.subject_type }}</div>
                                <div style="color: rgba(0, 0, 0, 0.54);">Паспорт: {{value.0.passport_data}}</div>
                                <div style="color: rgba(0, 0, 0, 0.54);">Адресс: {{ value.0.address }}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">ИНН: {{value.0.inn}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Р/С: {{value.0.payment_account}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Должность: {{value.0.post}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Номер с соц. реестре специалситов: {{value.0.register_of_specialists}}</div>
                                <div hidden class="extra" style="color: rgba(0, 0, 0, 0.54);">Реквизиты распорядительного документа: {{value.0.details_admin_doc}}</div>

                                <button id="button_more_ind_{{value.0.id}}" type="button" style="display:inline-block" class="btn btn-link more" onclick='MoreInformation({{value.0.id}},"ФЛ")'>Все сведения</button>
                                <button id="button_hide_ind_{{value.0.id}}" type="button" style="display:none" class="btn btn-link hide" onclick='HideInformation({{value.0.id}},"ФЛ")'>Скрыть</button>
                            </div>

                        {% endif %}
                    </div>
                </details>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane" id="works" role="tabpanel" aria-labelledby="works-tab">
            <div class="row">
                <div class="col-1">
                    <p style="color: rgba(0, 0, 0, 0.54);">Список Работ</p>
                </div>

                <div class="col-md-auto section-label">
                    <p style="color: rgba(0, 0, 0, 0.54);"></p>
                </div>

                <div class="col-md-auto">
                    <button id="add-new-work" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workModal" disabled>Добавить новую работу</button>
                </div>

                <div class="col-md-auto">
                    <a id="get-registry" class="btn btn-primary" disabled>Сформировать реестр</a>
                </div>

                <div class="col-md-auto">
                    <a id="get-pdf" class="btn btn-primary" disabled>Сформировать pdf</a>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <div class="information">
                        <table class="table work-table">
                            <thead>
                            <tr >
                                <th scope="col">#</th>
                                <th scope="col">Наименование</th>
                                <th scope="col">Дата окончания работы</th>
                                <th scope="col" style="text-align: center">Просмотр</th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col search-background">
                        <div style="border-bottom: 1px solid;">
                            <i style="margin-left:10px" class="bi bi-search"></i>
                            <input style="all: unset;" class="form-control p-2" type="text" placeholder="Поиск" id="search-text" onkeyup="tableSearch()">
                        </div>
                        <div class="list-group list-group-flush sections">
                        {% for section in sections %}
                            <div style="display: flex;flex-direction: row; justify-content: flex-start;">
                                <a href="#" style="border: none;width:50%" class="list-group-item list-group-item-action project-section" onclick="SelectSection(this)"
                                   section="{{ section.0 }}">{{ section.1 }}
                                </a>

                                <div onclick="ShowWindow({{ section.0 }})">
                                    <span class="badge bg-secondary rounded-pill">
                                        <i  class="bi-three-dots-vertical"></i>
                                    </span>
                                    <div id="{{section.0}}" style="display: none"  class="selection-window">
                                        <div class="selection-window-item">
                                            <i class="bi bi-pencil">
                                                <div class="selection-window-item-text edit-section" section="{{ section.0 }}">
                                                    Редактировать
                                                </div>
                                            </i>
                                        </div>
                                        <div class="selection-window-item">
                                            <i class="bi bi-trash">
                                                <div class="selection-window-item-text delete-section"
                                                     section="{{ section.0 }}" onclick="deleteSection(this)">
                                                    Удалить
                                                </div>
                                            </i>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <span class="badge bg-primary rounded-pill">{{ section.2 }}</span>
                                </div>
                            </div>

                        {% endfor %}
                    </div>


                    <div>
                        <button style="margin-bottom:3px" id="create-section" class="btn p-0">
                            <i style="margin-left:10px" class="bi bi-plus-square"></i>
                        </button>
                        <input style="all: unset;" type="text" placeholder="Добавить раздел" />

                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="materials" role="tabpanel" aria-labelledby="materials-tab">
            <p style="color: rgba(0, 0, 0, 0.54);">Материалы</p>
            <div class="row g-3 p-1">
                <div class="col-auto text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" /></svg>
                </div>

                <div class="col-auto">
                    <select class="form-select form-select-sm filter" id="material-filter">
                        <option value="">все работы</option>
                        {% for work in works %}
                            <option value="{{ work.id }}">{{ work.name_hidden_works }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-primary" id="btn-material-filter">Обновить</button>
                </div>

            </div>
            <div class="information">
                <table class="table material-table">
                    <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Дата окончания действия сертификата</th>
                        <th scope="col">Количество материалов</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for material in materials %}
                    <tr>
                        <td>{{ material.name }}</td>
                        <td>{{ material.date_end }}</td>
                        <td>{{ material.count }}  {{ material.units_of_measurement }}</td>
                        <td>
                            <a href="/materials/{{ material.id }}/0" class="btn p-0">
                                <img src="/static/images/look.svg" alt="Просмотр" width="40" height="20">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane" id="naturalPerson" role="tabpanel" aria-labelledby="naturalPerson-tab">
            <p class="participant-name" style="color: rgba(0, 0, 0, 0.54);"></p>
            <form method="post">
                {% csrf_token %}
                {% for field in naturalPerson.visible_fields %}
                <div class="form-group">
                    <div class="form-error">
                        <span class="text-danger"> {{ field.errors }}</span>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-md-3">
                            <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                        </div>
                        <div class="col-12 col-md-6">
                            {{ field }}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <select name="participant_type" class="form-select" style="display: none">
                    <option value="DEV">Участник</option>
                    <option value="REP">Представитель участника</option>
                </select>

                <select name="subject_type" class="form-select" style="display: none">
                    <option value="ФЛ" selected>Физическое лицо</option>
                </select>

                <button type="button" class="participant-creation btn btn-primary">Создать участника</button>
            </form>
        </div>

        <div class="tab-pane" id="legalEntity" role="tabpanel" aria-labelledby="legalEntity-tab">
            <p class="participant-name" style="color: rgba(0, 0, 0, 0.54);"></p>
            <form method="post">
                {% csrf_token %}
                {% for field in legalEntity.visible_fields %}
                <div class="form-group">
                    <div class="form-error">
                        <span class="text-danger"> {{ field.errors }}</span>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-md-3">
                            <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                        </div>
                        <div class="col-12 col-md-6">
                            {{ field }}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <select name="participant_type" class="form-select" style="display: none">
                    <option value="DEV">Участник</option>
                    <option value="REP">Представитель участника</option>
                </select>

                <select name="subject_type" class="form-select" style="display: none">
                    <option value="ЮЛ" selected>Юридическое лицо</option>
                </select>

                <button type="button" class="participant-creation btn btn-primary">Создать участника</button>
            </form>
        </div>

        <div class="tab-pane" id="individualEntrepreneur" role="tabpanel" aria-labelledby="individualEntrepreneur-tab">
            <p class="participant-name" style="color: rgba(0, 0, 0, 0.54);"></p>
            <form method="post">
                {% csrf_token %}
                {% for field in individualEntrepreneur.visible_fields %}
                <div class="form-group">
                    <div class="form-error">
                        <span class="text-danger"> {{ field.errors }}</span>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-md-3">
                            <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                        </div>
                        <div class="col-12 col-md-6">
                            {{ field }}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <select name="participant_type" class="form-select" maxlength="6" style="display: none">
                    <option value="DEV">Участник</option>
                    <option value="REP">Представитель участника</option>
                </select>

                <select name="subject_type" class="form-select" maxlength="2" style="display: none">
                    <option value="ИП" selected>Индивидуальный предприниматель</option>
                </select>

                <button type="button" class="participant-creation btn btn-primary">Создать участника</button>
            </form>
        </div>

        <div class="tab-pane" id="participant-create" role="tabpanel" aria-labelledby="participant-create-tab">
            <p class="participant-name" style="color: rgba(0, 0, 0, 0.54);"></p>
            <form>
                {% for field in participantType.visible_fields %}
                <div class="form-group">
                    <div class="form-error">
                        <span class="text-danger"> {{ field.errors }}</span>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-md-3">
                            <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                        </div>
                        <div class="col-12 col-md-6">
                            {{ field }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
            <button id="next-step-participant-creation" class="btn btn-primary">Дальше</button>
        </div>
    </div>
</div>
{% endblock %}

{% block customModals %}
<div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создание работы</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="form-error" style="color:red"> {{workForm.non_field_errors}}</div>

                <div id="work-form" class="modal-body">
                    {% for field in workForm.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        <div class="row mb-4 align-items-center">
                            <div class="col-12 col-md-3">
                                <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                            </div>
                            <div class="col-12 col-md-6">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="workModalBtn" class="btn btn-primary my-2">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <script>
        let participantName = '';
        let participantNumber = 0;
        let activeProjectSection = 0;
        let projectId = {{ project.id }};

        function createParticipant(event) {
            let action = '/projects/' + projectId + '/add/' + participantNumber;
            let form = event.target.closest('form');
            form.setAttribute('action', action);
            form.submit();
        }

        async function createWork(event) {
            event.preventDefault();

            let form = document.getElementById('workModal').querySelector('form');
            form.querySelector('#id_name_hidden_works').style = "";
            form.querySelector('#id_start_date_work').style = "";
            form.querySelector('#id_end_date_work').style = "";
            document.querySelector('#workModal').querySelector('.form-error').innerHTML = "";

            let name = form.querySelector('#id_name_hidden_works').value;
            let projectNumber = form.querySelector('#id_number_project_doc').value;
            let workNumber = form.querySelector('#id_number_working_doc').value;
            let projectName = form.querySelector('#id_name_project_doc').value
            let workName = form.querySelector('#id_name_working_doc').value;
            let dateStart = form.querySelector('#id_start_date_work').value;
            let dateEnd = form.querySelector('#id_end_date_work').value;
            let numbers = form.querySelector('#id_number_instances').value;

            if (name === "") {
                form.querySelector('#id_name_hidden_works').style = "border-width: 2px; border-color: red;";
                return;
            }

            if (dateStart === "") {
                form.querySelector('#id_start_date_work').style = "border-width: 2px; border-color: red;";
                return;
            }

            if (dateEnd === "") {
                form.querySelector('#id_end_date_work').style = "border-width: 2px; border-color: red;";
                return;
            }

            if (dateStart > dateEnd) {
                form.querySelector('#id_start_date_work').style = "border-width: 2px; border-color: red;";
                form.querySelector('#id_end_date_work').style = "border-width: 2px; border-color: red;";
                document.querySelector('#workModal').querySelector('.form-error').innerHTML = "Дата окончания должна быть позже даты начала";
                return;
            }

            if (numbers === "") {
                numbers = 0;
            }

            let data = JSON.stringify({
                name_hidden_works: name,
                number_project_doc: projectNumber,
                number_working_doc: workNumber,
                name_project_doc: projectName,
                name_working_doc: workName,
                start_date_work: dateStart,
                end_date_work: dateEnd,
                number_instances: numbers
            });

            await fetch("/api/works/create/" + activeProjectSection, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: data,
              })
            .then((response) => response.json())
            .then((data) => {
                createWorkTable(data);
                form.reset();
            });
        }

        async function getWorkInformation(event) {
            let projectSectionId = Number(event.target.getAttribute('section'));
            activeProjectSection = projectSectionId;
            document.querySelector('.section-label').querySelector('p').innerHTML = event.target.innerHTML;

            await fetch("/api/works/" + projectSectionId, {
                method: "GET",
                headers: {
                  "Content-Type": "application/json",
                },
              })
            .then((response) => response.json())
            .then((data) => {
                createWorkTable(data);
            });
        }

        function createWorkTable(data) {
            let table = document.querySelector('.work-table');
            let tBody = table.querySelector('tbody');
            tBody.innerHTML = '';
            data.forEach((row) => {
                let tr = document.createElement("tr");
                let fragment = document.createDocumentFragment();
                let keys = Object.keys(row)
                keys.forEach((col) => {
                    let td;
                    if (col === "id"){
                        td = document.createElement("th");
                        td.scope = "row";
                    } else {
                        td = document.createElement("td");
                    }
                    td.innerText = row[col];
                    fragment.appendChild(td);
                });
                let td = document.createElement('td');
                td.style.textAlign = 'center';
                let btn = document.createElement('a');
                btn.setAttribute('href', '/works/' + row['id']);
                btn.classList.add('btn', 'p-0');
                let img = document.createElement('img');
                img.setAttribute('src', '/static/images/look.svg');
                img.setAttribute('alt', 'Просмотр');
                img.setAttribute('width', '40');
                img.setAttribute('height', '20');
                btn.appendChild(img);
                td.appendChild(btn)
                fragment.appendChild(td)
                tr.appendChild(fragment);
                tBody.appendChild(tr);
            });
        }

        function tableSearch() {
            let phrase = document.getElementById('search-text');
            let sectionsList = phrase.parentElement.querySelector('.list-group');
            let regPhrase = new RegExp(phrase.value, 'i');
            let flag = false;

            for (let i = 0; i < sectionsList.children.length; i++) {
                flag = regPhrase.test(sectionsList.children[i].innerHTML);

                if (flag) {
                    sectionsList.children[i].style.display = "";
                } else {
                    sectionsList.children[i].style.display = "none";
                }
            }
        }

        async function createSection(event) {
            let input = event.target.parentElement.parentElement.querySelector('input');
            let sectionName = input.value;
            input.value = '';

            if (sectionName === '') {
                return false;
            }
            else {
                let data = JSON.stringify({
                    section_name: sectionName
                });

                await fetch("/api/sections/" + {{ project.id }}, {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: data,
                  })
                .then((response) => response.json())
                .then((data) => {
                    createSectionList(data);
                });
            }
        }

        async function deleteSection(target) {
            let sectionId = target.getAttribute('section');

            await fetch("/api/sections/delete/" + sectionId, {
                method: "DELETE",
                headers: {
                  "Content-Type": "application/json",
                },
              })
            .then((response) => response.json())
            .then((data) => {
                createSectionList(data);
            });
        }

        function createSectionList(data) {
            let list = document.querySelector('.sections');
            list.innerHTML = '';
            let tmpl = document.getElementById('sections-template').innerHTML.trim();
            tmpl = _.template(tmpl);


            list.innerHTML = tmpl({
                list: data
            });

            list.querySelectorAll('.project-section').forEach(el => {
                let sectionId = el.getAttribute('section');
                el.addEventListener('click', function (event) {
                    document.getElementById('add-new-work').disabled = false;
                    getWorkInformation(event);
                });

                el.closest('div').querySelector('.project-section-buttons').addEventListener('click', (event) => {
                    ShowWindow(sectionId);
                    event.preventDefault();
                });

                {#el.closest('div').querySelector('.edit-section').addEventListener('click', (event) => {#}
                {#    ShowWindow(sectionId);#}
                {#    event.preventDefault();#}
                {# });#}

                el.closest('div').querySelector('.delete-section').addEventListener('click', (event) => {
                    deleteSection(event.target)
                });
            });
        }

        async function filterMaterials() {
            let workId = document.getElementById('material-filter').value;
            let urlForFetch = "/api/materials?work_id=" + workId;
            if (workId === '') {
                urlForFetch = "/api/materials?project_id=" + projectId;
            }

            await fetch(urlForFetch, {
                method: "GET",
                headers: {
                  "Content-Type": "application/json",
                },
              })
            .then((response) => response.json())
            .then((data) => {
                createMaterialsTable(data);
            });
        }

        function createMaterialsTable(data) {
            let table = document.querySelector('.material-table');
            let tBody = table.querySelector('tbody');
            tBody.innerHTML = '';
            data.forEach((row) => {
                let tr = document.createElement("tr");
                let fragment = document.createDocumentFragment();

                let td = document.createElement("td");
                td.innerText = row['name'];
                fragment.appendChild(td);

                td = document.createElement("td");
                td.innerText = row['date_end'];
                fragment.appendChild(td);

                td = document.createElement("td");
                td.innerText = row['count'] + " " + row['units_of_measurement'];
                fragment.appendChild(td);
                td = document.createElement("td");
                let a = document.createElement('a');
                a.href = "/materials/" + row['id'] + "/0";
                a.classList.add(...['btn', 'p-0']);
                let img = document.createElement('img');
                img.src = "/static/images/look.svg";
                img.alt = "Просмотр";
                img.width = 40;
                img.height = 20;
                a.appendChild(img);
                td.appendChild(a);
                fragment.appendChild(td);

                tr.appendChild(fragment);
                tBody.appendChild(tr);
            });
        }

        document.querySelectorAll('.sidenav-link').forEach((a) => {
            a.addEventListener('click', () => {
                document.querySelectorAll('.tab-pane').forEach((tab) => {
                    if (tab.classList.contains('active') && tab.id !== a.getAttribute('aria-controls')) {
                        tab.classList.remove('active');
                    }
                    else if (!tab.classList.contains('active') && tab.id === a.getAttribute('aria-controls')) {
                        tab.classList.add('active');
                    }
                });
            });
        });

        document.querySelectorAll('.add-new-participant').forEach((a) => {
            a.addEventListener('click', (event) => {
                participantName = event.target.parentNode.parentNode.querySelector('.col-form-label').textContent;
                participantNumber = event.target.parentNode.parentNode.querySelector('.col-form-label').getAttribute('participant')
                event.target.closest('.tab-pane').classList.remove('active');
                document.getElementById('participant-create').classList.add('active');
                document.getElementById('participant-create').querySelector('.participant-name').innerHTML = participantName
            });
        });

        document.getElementById('next-step-participant-creation').addEventListener('click', () => {
            let subjectType = document.getElementById('subject_type').value;
            let participantType = 'REP';
            if (participantNumber < 5) {
                participantType = 'DEV';
            }
            document.getElementById('participant-create').classList.remove('active');
            switch(subjectType) {
                case 'ЮЛ':
                    document.getElementById('legalEntity').classList.add('active');
                    document.getElementById('legalEntity').querySelector('.participant-name').innerHTML = participantName
                    document.getElementById('legalEntity').querySelector('[name=participant_type]').value = participantType;
                    document.getElementById('legalEntity').querySelector('[name=subject_type]').value = subjectType;

                    if (participantType === 'REP') {
                        document.getElementById('sro_name').closest('.form-group').style.display = 'none';
                        document.getElementById('sro_inn').closest('.form-group').style.display = 'none';
                        document.getElementById('sro_ogrn').closest('.form-group').style.display = 'none';
                    }

                    break;

                case 'ФЛ':
                    document.getElementById('naturalPerson').classList.add('active');
                    document.getElementById('naturalPerson').querySelector('.participant-name').innerHTML = participantName
                    document.getElementById('naturalPerson').querySelector('[name=participant_type]').value = participantType;
                    document.getElementById('naturalPerson').querySelector('[name=subject_type]').value = subjectType;

                    break;

                case 'ИП':
                    document.getElementById('individualEntrepreneur').classList.add('active');
                    document.getElementById('individualEntrepreneur').querySelector('.participant-name').innerHTML = participantName
                    document.getElementById('individualEntrepreneur').querySelector('[name=participant_type]').value = participantType;
                    document.getElementById('individualEntrepreneur').querySelector('[name=subject_type]').value = subjectType;

                    if (participantType === 'REP') {
                        document.getElementById('sro_name').closest('.form-group').style.display = 'none';
                        document.getElementById('sro_inn').closest('.form-group').style.display = 'none';
                        document.getElementById('sro_ogrn').closest('.form-group').style.display = 'none';
                    }

                    break;
            }
        });

        document.querySelectorAll('.participant-creation').forEach(el => el.addEventListener('click', createParticipant));
        document.querySelectorAll('.project-section').forEach(el => el.addEventListener('click', function (event) {
            let sectionId = event.target.getAttribute('section');
            document.getElementById('add-new-work').disabled = false;
            document.getElementById('get-registry').disabled = false;
            document.getElementById('get-pdf').disabled = false;
            document.getElementById('get-registry').setAttribute('href', '/project-section/' + sectionId + '/get-registry')
            document.getElementById('get-pdf').setAttribute('href', '/project-section/' + sectionId + '/get-pdf')
            getWorkInformation(event);
        }));
        document.getElementById('workModalBtn').addEventListener('click', createWork);
        document.getElementById('create-section').addEventListener('click', createSection);
        document.getElementById('btn-material-filter').addEventListener('click', filterMaterials);
    </script>

    <script>
        function ShowWindow( i ) {
            let window = document.getElementById(i);
            if (window.style.display === 'none'){
              window.style.display = 'inline-block';
            }
        }

        $(document).mouseup(function (event) {
            let selectionWindow = $(".selection-window");
            if (selectionWindow.has(event.target).length === 0){
                selectionWindow.hide();
            }
        });

        function OpenInformation(id){
            let caret_id = 'caret_' + id;
<!--            console.log(caret_id);-->
<!--            console.log(document.getElementById(caret_id));-->
            document.getElementById(caret_id).classList.toggle('bi-caret-down');
            document.getElementById(caret_id).classList.toggle('bi-caret-up');
        }

        function MoreInformation(id, type){

            if(type == 'ЮЛ'){
                 new_id_button_more = `button_more_legal_${id}`;
                 new_id_button_hide = `button_hide_legal_${id}`;
            } else if(type == 'ИП'){
                 new_id_button_more = `button_more_ip_${id}`;
                 new_id_button_hide = `button_hide_ip_${id}`;
            } else if(type == 'ФЛ'){
                 new_id_button_more = `button_more_ind_${id}`;
                 new_id_button_hide = `button_hide_ind_${id}`;
            }

            let more_button = document.getElementById(new_id_button_more)
            let hide_button = document.getElementById(new_id_button_hide)
            console.log(hide_button)

            if(type == 'ЮЛ'){
                new_id = `information_legal_${id}`;
            } else if(type == 'ИП'){
                new_id = `information_ip_${id}`;
            } else if(type == 'ФЛ'){
                new_id = `information_ind_${id}`;
            }
            console.log(new_id);
            let participant_information = document.getElementById(new_id)
            console.log(participant_information);
            const children = participant_information.querySelectorAll('div[hidden]')
            children.forEach(child => child.removeAttribute('hidden'))

            more_button.style.display = "none";
            hide_button.style.display = "inline-block";

        }

        function HideInformation(id, type){

        if (type == 'ЮЛ'){
             new_id_button_more = `button_more_legal_${id}`;
             new_id_button_hide = `button_hide_legal_${id}`;
            } else if (type == 'ИП'){
                 new_id_button_more = `button_more_ip_${id}`;
                 new_id_button_hide = `button_hide_ip_${id}`;
            } else if (type === 'ФЛ'){
             new_id_button_more = `button_more_ind_${id}`;
             new_id_button_hide = `button_hide_ind_${id}`;
            }

            let more_button = document.getElementById(new_id_button_more)
            let hide_button = document.getElementById(new_id_button_hide)

            if(type === 'ЮЛ'){
                new_id = `information_legal_${id}`;
            } else if(type === 'ИП'){
                new_id = `information_ip_${id}`;
            } else if(type === 'ФЛ'){
                new_id = `information_ind_${id}`;
            }

            let participant_information = document.getElementById(new_id)

            console.log(participant_information);

            const children = participant_information.querySelectorAll('div.extra')
            console.log(children);
            children.forEach(child => child.setAttribute('hidden',''))
            console.log(participant_information);

            more_button.style.display = "inline-block";
            hide_button.style.display = "none";

        }


        function ChangeTheState(section){
            sections = document.getElementsByClassName('sidenav-link-active');

            for (let i = 0, length = sections.length; i<length; i++){
              sections[i].classList.remove("sidenav-link-active");
            }

            section.classList.add("sidenav-link-active");
        }

        function SelectSection(section){
            sections = document.querySelectorAll('a.active');

            for (let i = 0, length = sections.length; i<length; i++){
              sections[i].classList.remove("active");
              sections[i].classList.remove("bg-success");
            }

            section.classList.add("active");
            section.classList.add("bg-success");

        }

    </script>

    <script type="text/template" id="sections-template">
        <% for(var i = 0; i < list.length; i++) { %>
            <div style="display: flex;flex-direction: row; justify-content: flex-start;">
                <a href="#" style="border: none;width:50%" class="list-group-item list-group-item-action project-section" onclick="SelectSection(this)"
                   section="<%=list[i].id%>"><%=list[i].name%>
                </a>

                <div class="project-section-buttons">
                    <span class="badge bg-secondary rounded-pill">
                        <i  class="bi-three-dots-vertical"></i>
                    </span>
                    <div id="<%=list[i].id%>" style="display: none"  class="selection-window">
                        <div class="selection-window-item">
                            <i class="bi bi-pencil">
                                <div style="cursor:pointer" class="selection-window-item-text edit-section" section="<%=list[i].id%>">
                                    Редактировать
                                </div>
                            </i>
                        </div>
                        <div class="selection-window-item">
                            <i class="bi bi-trash">
                                <div style="cursor:pointer" class="selection-window-item-text delete-section" section="<%=list[i].id%>">
                                    Удалить
                                </div>
                            </i>
                        </div>
                    </div>
                </div>

                <div>
                    <span class="badge bg-primary rounded-pill"><%=list[i].count%></span>
                </div>
            </div>
        <% } %>
    </script>
{% endblock %}