{% extends 'base/base.html' %}

{% block title %}Создание материала{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Создание материала</h1>
</div>
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <form action="{% url 'material-create' work_id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <div class="row mb-4 align-items-center">
                <div class="col-12 col-md-3">
                    <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                </div>
                <div class="col-12 col-md-6">
                    {{ field }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if participants %}
        <div class="row mb-4 align-items-center">
            <div class="col-12 col-md-3">
                <label class="col-form-label p-0" for="provider">Поставщик</label>
            </div>
            <div class="col-12 col-md-6">
                <select class="form-select" aria-label="Default select example" name="provider">
                    <option selected></option>
                    {% for participant in participants %}
                    <option value="{{ participant.id }}">{{ participant.surname }} {{ participant.name }} {{ participant.patronymic }}</option>
                    {% endfor %}
                </select>

                {% endif %}
                <div class="form-text mt-0">
                    <button type="button" class="btn btn-link" style="text-decoration: underline dashed">+ добавить</button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-2">Сохранить</button>
    </form>
</div>
{% endblock %}