{% extends 'base/base.html' %}

{% block title %}Создание материала{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Создание материала</h1>
</div>
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <form action="{% url 'material-create' work_id %}" method="post">
        {% csrf_token %}
        <div id="material-form">
            {% for field in form_material %}
            <div class="form-group ">
                {{ field.errors }}
                <div class="row mb-4 align-items-center">
                    <div class="col-12 col-md-3">
                        <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ field }}
                    </div>
                </div>
            </div>
            {% endfor %}

            {% if participants %}
            <div class="row mb-4 align-items-center">
                <div class="col-12 col-md-3">
                    <label class="col-form-label p-0" for="provider">Организация выдавшая документ</label>
                </div>
                <div class="col-12 col-md-6">
                    <select class="form-select" aria-label="Default select example" name="provider">
                        <option selected></option>
                        {% for participant in participants %}
                        <option value="{{ participant.id }}">{{ participant.legal_name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <div class="form-text mt-0">
                        <button type="button" class="btn btn-link" style="text-decoration: underline dashed" id="add_participant">+ добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-2">Сохранить</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
        var text_button = $("#add_participant").text();

         $("#add_participant").click(function() {
         console.log(text_button);
            if ($(this).text() == "+ добавить"){
            $("#material-form").append(
            "<div class='form-group' id='form_participant'>"+
            "<h4>Добавление организации выдавшей документ:</h4>"+
                "<div class='form-group'>"+
                    "<div class='row mb-4 align-items-center'>"+
                        "<div class='col-12 col-md-3'>"+
                             "<label class='col-form-label p-0' for='participant'>"+
                             "Наименование юридического лица"+
                             "</label>"+
                        "</div>"+
                        "<div class='col-12 col-md-6'>"+
                            "<input type='text' class='form-control' name='participant' required='' id='participant'>"+
                        "</div>"+
                    "</div>"+
                "</div>"+
            "</div>"
            );
            $(this).text('скрыть');
            text_button = $(this).text();
            }
            else{
                $("#form_participant").remove();
                $(this).text('+ добавить');
                text_button = $(this).text();
            }
        });
</script>
{% endblock %}