{% extends 'base/base.html' %}
{% load static %}
{% block title %}Материал №{{ material.id }}{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Просмотр материала</h1>
    <form method="post">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'material-edit' material.id %}">Редактировать</a>
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту работу?');" class="btn btn-outline-secondary btn-sm float-end" formaction="{% url 'material-delete' material.id %}"><img src="{% static 'images/bootstrap/trash.svg' %}" class="bi"> Удалить </button>
    </form>
</div>
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Название</span>
            </div>
            <div class="col-12 col-md-6">
                {{material.name}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Сертификат</span>
            </div>
            <div class="col-12 col-md-6">
                {{material.certificate}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Дата начала</span>
            </div>
            <div class="col-12 col-md-6">
                {{material.date_start}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Дата конца</span>
            </div>
            <div class="col-12 col-md-6">
                {{material.date_end}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Заказчик</span>
            </div>
            <div class="col-12 col-md-6">
                {{material.provider.legal_name}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Количество материалов</span>
            </div>
            <div class="col-12 col-md-6">
                {{material.provider.count}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Количество листов</span>
            </div>
            <div class="col-12 col-md-6">
                {{material.provider.list_count}}
            </div>
        </div>
    </form>
</div>
{% endblock %}