{% extends 'base/base.html' %}
{% load static %}
{% block title %}Работа № {{ work.id }}{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Редактирование работы</h1>
</div>

<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#information">Информация о работе</button>
        </li>
        <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#materials">Материалы</button>
        </li>
        <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#acts">(Пункт 4)Документы подтверждающие соответствие работ</button>
        </li>
        <li class="nav-item">
            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#bcars">(Пункт 6)СНИП</button>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="information">
            <div class="p-3 bg-body rounded shadow-sm">
                <div class="small mb-3">
                    Информация о работе:
                </div>

                <form action="{% url 'work-edit' work.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-error" style="color:red"> {{form.errors}}</div>
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        <div class="row mb-4 align-items-center">
                            <div class="col-12 col-md-3">
                                <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                            </div>
                            <div class="col-12 col-md-6">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary my-2">Сохранить</button>
                </form>

            </div>
        </div>

        <div class="tab-pane" id="materials">
            <div class="row p-3 bg-body rounded shadow-sm">
                <div class="small col-8">
                    Материалы для работы.
                </div>

                <div class="col-4">
                    <a style = "float: right;" class="btn btn-outline-primary btn-sm" href="{%url 'material-create' work.id %}">Добавить материал</a>
                </div>

                {% for material in work.materials.all %}
                    <div class="row mb-3">
                        <div class="col-12 col-md-4">
                            <span class="col-form-label p-0">Название материала</span>
                        </div>

                        <div class="col-12 col-md-6">
                            <a href="{% url 'material-view' material.id %}">
                                {{material.name}}
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="tab-pane" id="acts">
            <div class="row p-3 bg-body rounded shadow-sm">
                <div class="small col-8">
                    Документы, подтверждающие соответствие работ:
                </div>

                <div class="col-4">
                    <a style = "float: right;" class="btn btn-outline-primary btn-sm" id="add-act">Добавить документ</a>
                </div>

                <form action="{% url 'work-edit-acts' work.id %}" method="post">
                    {% csrf_token %}
                    <div id="act-form">
                        {% for act in work.acts.all %}
                            <div class="form-group" id="div-act-{{ act.id }}">
                                <div class="row mb-4 align-items-center">
                                    <div class="col-12 col-md-3">
                                        <label class="col-form-label p-0" for="id_act{{act.id}}">Документ</label>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <input class="form-control" name="act{{act.id}}" id="id_act{{act.id}}" value="{{act.name}}">
                                    </div>
                                    <div class='col-12 col-md-3'>
                                        <a id='a-act-{{act.id}}' act='{{act.id}}' class='close'
                                           type='button' style='text-decoration: none;color:red'>×</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary my-2">Сохранить</button>
                </form>
            </div>
        </div>

        <div class="tab-pane" id="bcars">
            <div class="row p-3 bg-body rounded shadow-sm">
                <div class="small col-8">
                    Нормативно правовые акты:
                </div>

                <div class="col-4">
                    <a style = "float: right;" class="btn btn-outline-primary btn-sm" id="add-bcar">Добавить нормативный акт</a>
                </div>

                <form action="{% url 'bcar-create' work.id %}" method="post">
                    {% csrf_token %}
                    <div id="bcar-form">
                        {% for bcar in work.bcars.all %}
                            <div class="form-group" id="div-bcar-{{ bcar.id }}">
                                <div class="row mb-4 align-items-center">
                                    <div class="col-12 col-md-3">
                                        <label class="col-form-label p-0" for="id_bcar{{bcar.id}}">Нормативный акт</label>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <input class="form-control" name="bcar{{bcar.id}}" id="id_bcar{{bcar.id}}" value="{{bcar.name}}">
                                    </div>
                                    <div class='col-12 col-md-3'>
                                        <a id='a-bcar-{{bcar.id}}' bcar='{{bcar.id}}' class='close'
                                           type='button' style='text-decoration: none;color:red'>×</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary my-2">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        // for date in form
        let start = $("#start")[0].getAttribute("value");
        let end = $("#end")[0].getAttribute("value");
        let dateStart = start.split(".")
        let dateEnd = end.split(".")
        document.getElementById('start').valueAsDate = new Date(dateStart[2] + "-" + dateStart[1] + "-" + dateStart[0]);
        document.getElementById('end').valueAsDate = new Date(dateEnd[2] + "-" + dateEnd[1] + "-" + dateEnd[0]);
    </script>
    <script>
        // for act adding and editing
        let actId = []
        document.querySelectorAll("#act-form")[0].querySelectorAll("input").forEach(function(e) {
            if (e.hasAttribute("id")) {
                actId.push(parseInt(e.getAttribute("id").match(/\d+/)));
            }
        })
        let actNumber = Math.max.apply(null, actId) + 1;
        if (actNumber === -Infinity) {
            actNumber = 1;
        }

        $("#add-act").click(function() {
            $("#act-form").append(
                "<div class='form-group' id='div-act-" + actNumber + "'>" +
                "<div class='row mb-4 align-items-center'>" +
                "<div class='col-12 col-md-3'>" +
                "<label class='col-form-label p-0' for='act" + actNumber + "'>" +
                "Документ</label>" +
                "</div>" +
                "<div class='col-12 col-md-6'>" +
                "<input type='text' name='act" + actNumber + "' class='form-control' required='' " +
                "id='act" + actNumber + "'>" +
                "</div><div class='col-12 col-md-3'><a id='a-act-" + actNumber + "' act='" + actNumber + "' class='close' " +
                "type='button' style='text-decoration: none;color:red'>×</a></div>" +
                "</div>" +
                "</div>"
            );
            $("#a-act-" + actNumber).click(function() {
                let act = $(this)[0].getAttribute("act");
                $("#div-act-" + act).remove();
            });
            actNumber ++;
        });

        document.querySelectorAll("#act-form")[0].querySelectorAll("a").forEach(function(e) {
            e.onclick = function() {
                let act = $(this)[0].getAttribute("act");
                $("#div-act-" + act).remove();
            };
        })
    </script>
    <script>
        // for bcar adding and editing
        let bcarId = []
        document.querySelectorAll("#bcar-form")[0].querySelectorAll("input").forEach(function(e) {
            if (e.hasAttribute("id")) {
                bcarId.push(parseInt(e.getAttribute("id").match(/\d+/)));
            }
        })
        let bcarNumber = Math.max.apply(null, bcarId) + 1;
        if (bcarNumber === -Infinity) {
            bcarNumber = 1;
        }

        $("#add-bcar").click(function() {
            $("#bcar-form").append(
                "<div class='form-group' id='div-bcar-" + bcarNumber + "'>" +
                "<div class='row mb-4 align-items-center'>" +
                "<div class='col-12 col-md-3'>" +
                "<label class='col-form-label p-0' for='bcar" + bcarNumber + "'>" +
                "Нормативный акт</label>" +
                "</div>" +
                "<div class='col-12 col-md-6'>" +
                "<input type='text' name='bcar" + bcarNumber + "' class='form-control' required='' " +
                "id='bcar" + bcarNumber + "'>" +
                "</div><div class='col-12 col-md-3'><a id='a-bcar-" + bcarNumber + "' bcar='" + bcarNumber + "' class='close' " +
                "type='button' style='text-decoration: none;color:red'>×</a></div>" +
                "</div>" +
                "</div>"
            );
            $("#a-bcar-" + bcarNumber).click(function() {
                let act = $(this)[0].getAttribute("bcar");
                $("#div-bcar-" + act).remove();
            });
            bcarNumber ++;
        });

        document.querySelectorAll("#bcar-form")[0].querySelectorAll("a").forEach(function(e) {
            e.onclick = function() {
                let bcar = $(this)[0].getAttribute("bcar");
                $("#div-bcar-" + bcar).remove();
            };
        })
    </script>
{% endblock %}