{% extends 'base/base.html' %}
{% load static %}
{% block title %}Работа № {{ work.id }}{% endblock %}

{% block navbar %}
    <a class="navbar-link" href="{% url 'project-view' work.projectSection.project_id %}"><i class="bi bi-arrow-left"></i>К проекту</a>
{% endblock %}

{% block pageName %} {{ work.name_hidden_works }} {% endblock %}

{% block content %}
    <!-- Nav tabs -->
    <ul class="sidenav nav-tabs" id="myTab" role="tablist">
        <li>
            <a class="sidenav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="true">
                <i class="bi bi-house"></i>Паспорт работы</a>
        </li>
        <li>
            <a class="sidenav-link" id="materials-tab" data-bs-toggle="tab" data-bs-target="#materials"
               type="button" role="tab" aria-controls="materials" aria-selected="false">
                <i class="bi bi-people"></i>Материалы</a>
        </li>
        <li>
            <a class="sidenav-link" id="point4-tab" data-bs-toggle="tab" data-bs-target="#point4" type="button"
                    role="tab" aria-controls="point4" aria-selected="false">
                <i class="bi bi-file-earmark"></i>Исполнительные схемы</a>
        </li>
        <li>
            <a class="sidenav-link" id="point6-tab" data-bs-toggle="tab" data-bs-target="#point6" type="button"
                    role="tab" aria-controls="point6" aria-selected="false">
                <i class="bi bi-wrench-adjustable"></i>СНИПы</a>
        </li>
    </ul>

    <div class="content">
        <div class="tab-content">
            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <p style="color: rgba(0, 0, 0, 0.54);">Паспорт работы</p>
                <form method="post">
{#                    href="{% url 'work-create-doc' work.id %}"#}
                    <a class="btn btn-outline-primary btn-sm">Создать акт</a>
                    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту работу?');" class="btn btn-outline-secondary btn-sm float-end" formaction="{% url 'work-delete' work.id %}"><img src="{% static 'images/bootstrap/trash.svg' %}" class="bi"> Удалить </button>
                </form>
                <div class="information">
                    <form action="{% url 'work-edit' work.id %}" method="post" class="p-3">
                        {% csrf_token %}
                        <div class="form-error" style="color:red"> {{form.errors}}</div>
                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.errors }}
                            <div class="row mb-4 align-items-center">
                                <div class="col-12 col-md-3">
                                    <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ field }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary my-2" disabled>Сохранить</button>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="materials" role="tabpanel" aria-labelledby="materials-tab">
                <div class="row">
                    <div class="col-1">
                        <p style="color: rgba(0, 0, 0, 0.54);">Материалы</p>
                    </div>

                    <div class="col">
                        <button id="add-new-material" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#materialModal">Добавить материал</button>
                    </div>
                </div>

                <div class="information">
                    <table class="table material-table">
                        <thead>
                            <tr>
                                <th scope="col">Наименование</th>
                                <th scope="col">Дата окончания действия сертификата</th>
                                <th scope="col">Количество материалов</th>
                                <th scope="col">Сертификат</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for material in materials %}
                                <tr>
                                    <td>{{ material.name }}</td>
                                    <td>{{ material.date_end }}</td>
                                    <td>{{ material.count }}  {{ material.units_of_measurement }}</td>
                                    <td>
                                        <a href="/materials/{{ material.id }}/certificate" class="btn p-0">
                                            <img src="/static/images/look.svg" alt="Просмотр" width="40" height="20">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="point4" role="tabpanel" aria-labelledby="point4-tab">
                <div class="col-1">
                    <p style="color: rgba(0, 0, 0, 0.54);">Пункт 4</p>
                </div>

                <div class="row g-3 p-1">
                    <div class="col-auto text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" /></svg>
                    </div>

                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#legalActModal">Добавить документ</button>
                    </div>
                </div>

                <div class="information">
                    <table class="table legal-acts-table">
                        <thead>
                            <tr>
                                <th scope="col">Наименование</th>
                                <th scope="col">Исполнительный документ</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for legal_act in legal_acts %}
                                <tr>
                                    <td>{{ legal_act.name }}</td>
                                    <td>
                                        <a href="/legal-acts/view/{{ legal_act.id }}" class="btn p-0">
                                            <img src="/static/images/look.svg" alt="Просмотр" width="40" height="20">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="point6" role="tabpanel" aria-labelledby="point6-tab">
                <div class="col-1">
                    <p style="color: rgba(0, 0, 0, 0.54);">Пункт 6</p>
                </div>

                <div class="row g-3 p-1">
                    <div class="col-auto text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" /></svg>
                    </div>

                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#bcarModal">Добавить документ</button>
                    </div>
                </div>

                <div class="information">
                    <table class="table bcar-table">
                        <thead>
                            <tr>
                                <th scope="col">Наименование</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for bcar in bcars %}
                                <tr>
                                    <td>{{ bcar.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customModals %}
    <div class="modal fade" id="materialModal" tabindex="-1" role="dialog" aria-labelledby="materialModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="materialModalLabel">Создание материала</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="material-form">
                    <div class="form-error" style="color:red"> {{material_form.non_field_errors}}</div>

                    <div class="modal-body">
                        {% for field in material_form.visible_fields %}
                            <div class="form-group">
                                {{ field.errors }}
                                <div class="row mb-4 align-items-center">
                                    <div class="col-12 col-md-3">
                                        <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="row mb-4 align-items-center">
                                <div class="col-12 col-md-3">
                                    <label class="col-form-label p-0" for="materialFile">Выберите сертификат</label>
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="file" class="form-control-file" id="materialFile">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" id="materialModalBtn" class="btn btn-primary my-2 close"
                                    data-bs-dismiss="modal" aria-label="Close">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="legalActModal" tabindex="-1" role="dialog" aria-labelledby="legalActLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="legalActModalLabel">Создание исполнительного документа</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="legal-act-form" method="post">
                    <div class="modal-body">
                        {% for field in legal_act_form.visible_fields %}
                            <div class="form-group">
                                {{ field.errors }}
                                <div class="row mb-4 align-items-center">
                                    <div class="col-12 col-md-3">
                                        <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="row mb-4 align-items-center">
                                <div class="col-12 col-md-3">
                                    <label class="col-form-label p-0" for="legalActFile">Выберите документ</label>
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="file" class="form-control-file" id="legalActFile">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button id="legalActModalBtn" class="btn btn-primary my-2 close"
                                    data-bs-dismiss="modal" aria-label="Close">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bcarModal" tabindex="-1" role="dialog" aria-labelledby="bcarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="bcarModalLabel">Создание СНИПа</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="bcar-form" method="post">
                    <div class="modal-body">
                        {% for field in bcar_form.visible_fields %}
                            <div class="form-group">
                                {{ field.errors }}
                                <div class="row mb-4 align-items-center">
                                    <div class="col-12 col-md-3">
                                        <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="modal-footer">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button id="bcarModalBtn" class="btn btn-primary my-2 close"
                                    data-bs-dismiss="modal" aria-label="Close">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // for date in form
        let start = $("#start")[0].getAttribute("value");
        let end = $("#end")[0].getAttribute("value");
        let dateStart = start.split(".")
        let dateEnd = end.split(".")
        document.getElementById('start').valueAsDate = new Date(dateStart[2] + "-" + dateStart[1] + "-" + dateStart[0]);
        document.getElementById('end').valueAsDate = new Date(dateEnd[2] + "-" + dateEnd[1] + "-" + dateEnd[0]);
    </script>

    <script>
        function createMaterial() {
            let certificate = document.getElementById('materialFile').files[0];
            let file_name = certificate['name'];
            let mimeType = certificate['type'];
            let fileReader = new FileReader()

            if (fileReader && certificate) {
                fileReader.readAsArrayBuffer(certificate);
                fileReader.onload = async function () {
                    let fileData = fileReader.result;
                    let data = JSON.stringify({
                        name: document.getElementById('id_name').value,
                        count: document.getElementById('id_count').value,
                        units_of_measurement: document.getElementById('id_units_of_measurement').value,
                        list_count: document.getElementById('id_list_count').value,
                        provider: document.getElementById('id_provider').value,
                        certificate_name: document.getElementById('id_certificate_name').value,
                        certificate_number: document.getElementById('id_certificate_number').value,
                        date_start: document.getElementById('id_date_start').value,
                        date_end: document.getElementById('id_date_end').value,
                        file_name: file_name,
                        file_type: mimeType,
                        file_data: Array.from(new Uint8Array(fileData))
                    });

                    document.getElementById('material-form').reset();

                    await fetch("/api/materials/" + {{ work.id }}, {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: data,
                      })
                    .then((response) => response.json())
                    .then((data) => {
                        createMaterialsTable(data);
                    });
                }
            }
        }

        function createMaterialsTable(data) {
            let table = document.querySelector('.material-table');
            let tBody = table.querySelector('tbody');
            tBody.innerHTML = '';
            data.forEach((row) => {
                let tr = document.createElement("tr");
                let fragment = document.createDocumentFragment();

                let td = document.createElement("td");
                td.innerText = row['name'];
                fragment.appendChild(td);

                td = document.createElement("td");
                td.innerText = row['date_end'];
                fragment.appendChild(td);

                td = document.createElement("td");
                td.innerText = row['count'] + row['units_of_measurement'];
                fragment.appendChild(td);

                td = document.createElement('td');
                let btn = document.createElement('a');
                btn.setAttribute('href', '/materials/' + row['id'] + '/certificate');
                btn.classList.add('btn', 'p-0');
                let img = document.createElement('img');
                img.setAttribute('src', '/static/images/look.svg');
                img.setAttribute('alt', 'Просмотр');
                img.setAttribute('width', '40');
                img.setAttribute('height', '20');
                btn.appendChild(img);
                td.appendChild(btn)
                fragment.appendChild(td)

                tr.appendChild(fragment);
                tBody.appendChild(tr);
            });
        }

        async function createBCAR() {
            let data = JSON.stringify({
                bcar_name: document.getElementById('bcar_name').value,
            });

            document.getElementById('bcar-form').reset();

            await fetch("/api/works/" + {{ work.id }} + "/bcar", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: data,
              })
            .then((response) => response.json())
            .then((data) => {
                createBCARsTable(data);
            });
        }

        function createBCARsTable(data) {
            let table = document.querySelector('.bcar-table');
            let tBody = table.querySelector('tbody');
            tBody.innerHTML = '';
            data.forEach((row) => {
                let tr = document.createElement("tr");
                let fragment = document.createDocumentFragment();

                let td = document.createElement("td");
                td.innerText = row['name'];
                fragment.appendChild(td);

                tr.appendChild(fragment);
                tBody.appendChild(tr);
            });
        }

        function CreateLegalAct(event) {
            event.preventDefault();
            let actFile = document.getElementById('legalActFile').files[0];
            let name = document.getElementById('document_name').value;
            let document_number = document.getElementById('document_number').value;
            let document_date = document.getElementById('document_date').value;
            let file_name = actFile['name'];
            let mimeType = actFile['type'];
            let fileReader = new FileReader()

            if (fileReader && actFile) {
                fileReader.readAsArrayBuffer(actFile);
                fileReader.onload = async function() {
                    let fileData = fileReader.result;
                    console.log(fileData);
                    let data = JSON.stringify({
                        name: name,
                        document_number: document_number,
                        document_date: document_date,
                        act_name: file_name,
                        act_type: mimeType,
                        act_data: Array.from(new Uint8Array(fileData))
                    });

                    await fetch("/api/works/" + {{ work.id }} + "/act", {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: data,
                      })
                    .then((response) => response.json())
                    .then((data) => {
                        createLegalActsTable(data);
                    });
                }
            }
        }

        function createLegalActsTable(data) {
            let table = document.querySelector('.legal-acts-table');
            let tBody = table.querySelector('tbody');
            tBody.innerHTML = '';
            data.forEach((row) => {
                let tr = document.createElement("tr");
                let fragment = document.createDocumentFragment();

                let td = document.createElement("td");
                td.innerText = row['name'];
                fragment.appendChild(td);

                td = document.createElement('td');
                let btn = document.createElement('a');
                btn.setAttribute('href', '/legal-acts/view/' + row['id']);
                btn.classList.add('btn', 'p-0');
                let img = document.createElement('img');
                img.setAttribute('src', '/static/images/look.svg');
                img.setAttribute('alt', 'Просмотр');
                img.setAttribute('width', '40');
                img.setAttribute('height', '20');
                btn.appendChild(img);
                td.appendChild(btn)
                fragment.appendChild(td)

                tr.appendChild(fragment);
                tBody.appendChild(tr);
            });
        }

        document.getElementById('materialModalBtn').addEventListener('click', createMaterial);
        document.getElementById('bcarModalBtn').addEventListener('click', createBCAR);
        document.getElementById('legalActModalBtn').addEventListener('click', CreateLegalAct);
    </script>
{% endblock %}