{% extends 'base/base.html' %}
{% load static %}
{% block title %}Работа №{{ work.id }}{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Просмотр работы</h1>
    <form method="post">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'work-edit' work.id %}">Редактировать</a>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'project-view' work.project.id %}" >Перейти к проекту</a>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'work-create-doc' work.id %}" >Создать акт</a>
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту работу?');" class="btn btn-outline-secondary btn-sm float-end" formaction="{% url 'work-delete' work.id %}"><img src="{% static 'images/bootstrap/trash.svg' %}" class="bi"> Удалить </button>
    </form>
</div>
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Наименование скрытой работы</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.name_hidden_works}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Номер проектной документации</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.number_project_doc}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Номер рабочего документа</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.number_working_doc}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Другие детали проектного чертежа</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.other_details_project_drawing}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Другие детали рабочего чертежа</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.other_details_working_drawing}}
            </div>
        </div>

         <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Наименование проектной документации</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.name_project_doc}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Наименование рабочей документации</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.name_working_doc}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Сведения о лицах осуществляющих подготовку документации</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.information_persons_prepare_doc}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Предъявелнные документы</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.submitted_doc}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Дата начала работ</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.start_date_work}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Нормативные акты</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.regulatory_acts}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Разрешенные работы</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.permitted_works}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Дополнительные сведения</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.additional_information}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Количесвто экземпляров</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.number_instances}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Приложения</span>
            </div>
            <div class="col-12 col-md-6">
                {{work.applications}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <span class="col-form-label p-0">Сертификаты</span>
            </div>
            <div class="col-12 col-md-6">
                надо заполнять
            </div>
        </div>


    </form>
</div>
{% endblock %}