{% extends 'base/base.html' %}
{% load static %}
{% block title %}Участник №{{ participant.id }}{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Редактирование участника</h1>
</div>

<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <div class="p-3 bg-body rounded shadow-sm">
        <div class="small mb-3">
            Информация о работе:
        </div>

        <form action="{% url 'participant-edit' participant.id %}" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.errors }}
                <div class="row mb-4 align-items-center">
                    <div class="col-12 col-md-3">
                        <label class="col-form-label p-0" for={{field.auto_id}}>{{ field.label }}</label>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ field }}
                    </div>
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary my-2">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        let subject_type = $("#subject_type");
        subject_type.change(function () {
            let e = subject_type[0];
            if (e.value === 'ФЛ') {
                $("#surname").parent().parent().parent().show();
                $("#name").parent().parent().parent().show();
                $("#patronymic").parent().parent().parent().show();
                $("#passport_data").parent().parent().parent().show();
                $("#ogrn").parent().parent().parent().hide();
                $("#inn").parent().parent().parent().hide();
                $("#address").parent().parent().parent().show();
                $("#phone").parent().parent().parent().show();
                $("#legal_name").parent().parent().parent().hide();
            }
            else if (e.value === 'ЮЛ') {
                $("#surname").parent().parent().parent().hide();
                $("#name").parent().parent().parent().hide();
                $("#patronymic").parent().parent().parent().hide();
                $("#passport_data").parent().parent().parent().hide();
                $("#ogrn").parent().parent().parent().show();
                $("#inn").parent().parent().parent().show();
                $("#address").parent().parent().parent().show();
                $("#phone").parent().parent().parent().show();
                $("#legal_name").parent().parent().parent().show();
            }
            else if (e.value === 'ИП') {
                $("#surname").parent().parent().parent().show();
                $("#name").parent().parent().parent().show();
                $("#patronymic").parent().parent().parent().show();
                $("#passport_data").parent().parent().parent().hide();
                $("#ogrn").parent().parent().parent().show();
                $("#inn").parent().parent().parent().show();
                $("#address").parent().parent().parent().show();
                $("#phone").parent().parent().parent().hide();
                $("#legal_name").parent().parent().parent().hide();
            }
            else {
                $("#surname").parent().parent().parent().hide();
                $("#name").parent().parent().parent().hide();
                $("#patronymic").parent().parent().parent().hide();
                $("#passport_data").parent().parent().parent().hide();
                $("#ogrn").parent().parent().parent().show();
                $("#inn").parent().parent().parent().show();
                $("#address").parent().parent().parent().hide();
                $("#phone").parent().parent().parent().hide();
                $("#legal_name").parent().parent().parent().show();
            }
        });
        subject_type.trigger("change");

        let participant_type = $("#participant_type");
        participant_type.change(function () {
            e = participant_type[0];
            if (e.value === 'REP') {
                $("#register_of_specialists").parent().parent().parent().show();
                $("#details_admin_doc").parent().parent().parent().show();
            }
            else {
                $("#register_of_specialists").parent().parent().parent().hide();
                $("#details_admin_doc").parent().parent().parent().hide();
            }
        });
        participant_type.trigger("change");
    </script>
{% endblock %}