{% extends 'base/base.html' %}

{% block title %}Список участников{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Список участников</h1>
</div>
 <form method="post">
    {% csrf_token %}
    <div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
        {% if participants %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Название</th>
                        <th scope="col">Тип участника</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in participants %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'participant-view' participant.id %}">{{ participant.id }}</a>
                            </th>
                            <td>{{ participant.name }}</td>

                            {% if participant.participant_type == "SUP" %}
                                <td>Поставщик</td>
                            {% endif %}

                            {% if participant.participant_type == "DEV" %}
                                <td>Разработчик</td>
                            {% endif %}

                            {% if participant.participant_type == "REP" %}
                                <td>Представитель</td>
                            {% endif %}

                            {% if participant.participant_type == "OTH" %}
                                <td>Другое</td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>(по текущему фильтру участников не найдено)</div>
        {% endif %}
    </div>
</form>
{% endblock %}