{% extends 'base/base.html' %}
{% load static %}
{% block title %}Участник №{{ participant.id }}{% endblock %}

{% block content %}
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <h1>Просмотр участника</h1>
    <form method="post">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'participant-edit' participant.id %}">Редактировать</a>
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этого участника?');" class="btn btn-outline-secondary btn-sm float-end" formaction="{% url 'participant-delete' participant.id %}"><img src="{% static 'images/bootstrap/trash.svg' %}" class="bi"> Удалить </button>
    </form>
</div>
<div class="mt-4 my-3 p-3 bg-body rounded shadow-sm">
    <form method="post">
        {% csrf_token %}
        {% if participant.legal_name %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Наименование</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.legal_name}}
                </div>
            </div>
        {% endif %}

        {% if participant.surname %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Фамилия</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.surname}}
                </div>
            </div>
        {% endif %}

        {% if participant.surname %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Имя</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.name}}
                </div>
            </div>
        {% endif %}

        {% if participant.patronymic %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Отчество</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.patronymic}}
                </div>
            </div>
        {% endif %}

        {% if participant.post %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Должность</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.post}}
                </div>
            </div>
        {% endif %}

        {% if participant.passport_data %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Паспортные данные</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.passport_data}}
                </div>
            </div>
        {% endif %}

        {% if participant.register_of_specialists %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Номер регистрации</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.register_of_specialists}}
                </div>
            </div>
        {% endif %}

        {% if participant.ogrn %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">ОГРН</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.ogrn}}
                </div>
            </div>
        {% endif %}

        {% if participant.inn %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">ИНН</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.inn}}
                </div>
            </div>
        {% endif %}

        {% if participant.address %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Адрес</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.address}}
                </div>
            </div>
        {% endif %}

        {% if participant.phone %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Номер телефона</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.phone}}
                </div>
            </div>
        {% endif %}

        {% if participant.details_admin_doc %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Детали административных документов</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.details_admin_doc}}
                </div>
            </div>
        {% endif %}

        {% if participant.participant_type %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Вид участника</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.participant_type}}
                </div>
            </div>
        {% endif %}

        {% if participant.subject_type %}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    <span class="col-form-label p-0">Тип участника</span>
                </div>
                <div class="col-12 col-md-6">
                    {{participant.subject_type}}
                </div>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}